.chat-main

  .chat-main__group-info
  
    .chat-main__group-info__leftheader
      .chat-main__group-info__leftheader__groupname
        test
      .chat-main__group-info__leftheader__memberlist
        Member : sss
    .chat-main__group-info__rightheader__editButton
      =link_to edit_group_path(@group)  do
        Edit
  .chat-main__message-list
    = render @messages
      

  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form
        = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__submit'

      -# .From__message
      -#   %input.Form__inputContent{:placeholder => "type a message", :type => "text"}
      -#   .From__image
      -#     %label{class: "input-box__image"}
      -#       = icon('far', 'image')
      -#       %input{type: "file",class: "input-box__image__file" }

      -# .chat-main__submit
      -#   %input.Form__submit{"data-disable-with" => "Send", :name => "Send", :type => "submit", :value => "Send"} 
